.boxes {
  display: flex;
  justify-content: center;
  width: 600px;
  background-color: yellow;
  margin: 0 auto;
}
.box1 {
  width: 150px;
  height: 400px;
  background-color: orange;
}
.box2 {
  width: 250px;
  height: 400px;
  background-color: red;
}
